<% layout('layouts/boilerplate') %>
<div class="row mt-4">
  <% for(let listing of allListings){ %>
    <div class="col-lg-4 col-md-6 mb-4">
      <a href="/listings/<%= listing._id %>" class="listing-link" style="text-decoration:none; color:inherit;">
        <div class="card listing-card shadow-sm h-100">
          <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem; ">
          <div class="card-body">
            <h5 class="card-title mb-2" style="color:#4F46E5;"><%= listing.title %></h5>
            <p class="card-text mb-1">&#8377; <%=listing.price.toLocaleString("en-IN") %> / night</p>
            <p class="card-text text-muted mb-1"><%= listing.location %>, <%= listing.country %></p>
          </div>
        </div>
      </a>
    </div>
  <% } %>
</div>